<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title size="large">Hey Max</ion-title>
    <ion-buttons slot="end">
      <span class="material-icons-outlined"> inbox </span>
    </ion-buttons>
  </ion-toolbar>

  <div>
    <h2>The Lab</h2>
    <!-- Divider -->
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Lab utilization |<span> Today </span></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img src="../../../assets/components/utilisation.png" />
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-button>
      <span class="material-icons-outlined"> vpn_key </span>
      <p>Open labdoor</p>
    </ion-button>
  </div>

  <div>
    <ion-list>
      <ion-list-header> Next Bookings </ion-list-header>
      <ion-item>
        <ion-label>Group table</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Prusa i3 MK3S+</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Single workspace</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header> Support </ion-list-header>
      <ion-item>
        <ion-label>Lab information</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>In person support</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>FAQ</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
