// *** Fonts ***

// H1
h1 {
  font-family: InconsolataExpandedBlack !important;
  font-size: 40px !important;
  font-weight: 900 !important;
  line-height: 40px;
}
h2 {
  font-size: 21px !important;
  font-weight: 900 !important;
  line-height: 20px;
}
// h3
h3 {
  font-size: 17px !important;
  font-weight: 900 !important;
  line-height: 20px;
}

// Text Lists
h4 {
  font-size: 13px !important;
  font-weight: 800 !important;
  line-height: 20px;
}

// Text
p {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: var(--ion-color-p);
  line-height: 23px;
}

// Text Navigation
h6 {
  font-size: 10px !important;
  font-weight: 700 !important;
  line-height: 23px;
}

// *** Head ***

ion-toolbar {
  --background: var(--ion-color-background);
  h1 {
    margin-left: 16px;
  }
}
// Toolbar
ion-toolbar {
  --background-color: transparent;
  --ion-color-base: transparent !important;
}

.statusIcon {
  padding: 10px 20px 5px 20px;
}

// ***  Site Section ***

.section {
  margin: 0 16px 0 16px;
  ion-list {
    margin-left: -16px;
    padding: 0;
  }

  hr {
    border-top: 1px solid var(--ion-color-text);
    margin: 0px 0px 0px 16px;
  }
}

// *** Components ***
// Button
.button {
  font-family: InconsolataExpandedBlack !important;
  --border-radius: 6px;
}

// Open Door
#openDoor {
  ion-button {
    margin: 20px 6px 10px 6px;
    h4 {
      padding-left: 10px;
    }
  }
}

// Image Component
.imgComp {
  padding-top: 16px;
  margin: 0;
}

//Cards Components
#workspaceCards {
  ion-card {
    margin: 0 8px 8px 0;
  }
}
.cards {
  ion-card {
    box-shadow: none;
    margin: 0 22px 22px 0;
    width: 168px;
    display: inline-block;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

// Lists
ion-label {
  h4 {
    display: inline-block;
    margin-right: 8px !important;
  }
}
// Filter Chips
.infoChips {
  margin-top: 16px;
  ion-chip {
    margin: 0 0 12px 12px;
    border-radius: 6px;
    color: var(--ion-color-text);
    background: var(--ion-color-backcomponents);
  }
}

#selectedChip {
  color: var(--ion-color-text-contrast);
  background: var(--ion-color-primary);
}

// Item head
.itemHead {
  h2 {
    margin-top: 0px;
  }
  h6 {
    margin-bottom: 0px;
  }
  img {
    width: 358px;
    height: 228px;
    padding-top: 16px;
  }
}
.itemDetailHead {
  margin-bottom: 32px;
  h2 {
    margin: 0 0 0 15px;
  }
  h6 {
    margin-left: 15px;
    margin-bottom: 0px;
  }
  img {
    width: 77px;
    height: 70px;
  }
}

// Accordions
ion-accordion {
  .h4 {
    padding-bottom: 3px;
    padding-left: 10px;
  }
}
.arc {
  padding: 0 !important;
}
// Book Bar
.bottomBar {
  h6 {
    margin: 0 16px 16px 16px;
  }
  //Shadow fehlt
}

//Detail Selector
.DetailSelector {
  margin-bottom: 32px;
  ion-accordion {
    background: var(--ion-color-backcomponents);
  }
  ion-label {
    display: inline-block;
  }

  .addTeamMate {
    color: var(--ion-color-primary);
  }
  .calculate {
    margin: 16px 0 30px 0;
    h4 {
      margin: 0;
    }
  }
  #callMode {
    margin-left: 10px;
  }
  ion-datetime {
    padding: 20px;
    margin: 0px;
    --background: var(--ion-color-background);
  }
  .selected {
    margin: 0 0 0 25px !important;
  }
  input[type="number"] {
    font-size: 21px !important;
    font-weight: 900 !important;
    line-height: 20px;
  }
  #firstInputNumber {
    color: var(--ion-color-primary);
  }
}

// *** Player *** //

.smallPlayer {
  ion-grid {
    padding: 0;
    margin: 0;
  }
  ion-col {
    padding: 0;
    margin: 0;
  }
  h4,
  p {
    margin: 0;
    padding: 0;
  }

  .timeLeft {
    padding-left: 16px;
  }
  padding: 17px 0 17px 15.5px;
  margin: 5px;
  background-color: var(--ion-color-primary);
  border-radius: 3px;
}

.player {
  ion-grid {
    padding: 0;
    margin: 0;
  }
  ion-col {
    padding: 0;
    margin: 0;
  }
  img {
    width: 60px;
    height: 54px;
  }
  h3,
  h4 {
    margin: 0;
    padding: 0 0 5px 0;
  }
  .aright {
    text-align: right;
  }
  .room {
    color: var(--ion-color-primary);
  }
  .time {
    color: var(--ion-color-primary);
  }
  .dbutton {
    margin-top: 19px;
  }
  margin: 16px;
  padding: 16px;
  background-color: var(--ion-color-backcomponents);
  border-radius: 3px;
}

#frontIcon {
  margin-right: 10px;
}

.inline {
  display: inline-block;
}
#cleaning {
  line-height: 12px;
}

// *** FontFamily + Color ***
:root {
  --ion-font-family: "Inconsolata", monospace;

  --ion-color-primary: #0c59ff;
  --ion-color-primary-rgb: 12, 89, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0b4ee0;
  --ion-color-primary-tint: #246aff;

  --ion-color-secondary: #85acff;
  --ion-color-secondary-rgb: 133, 172, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #7597e0;
  --ion-color-secondary-tint: #91b4ff;

  --ion-color-success: #0c59ff;
  --ion-color-success-rgb: 12, 89, 255;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0b4ee0;
  --ion-color-success-tint: #246aff;

  --ion-color-warning: #fc5b5b;
  --ion-color-warning-rgb: 252, 91, 91;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #de5050;
  --ion-color-warning-tint: #fc6b6b;

  --ion-color-danger: #ff2828;
  --ion-color-danger-rgb: 255, 40, 40;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e02323;
  --ion-color-danger-tint: #ff3e3e;

  --ion-color-inactive: #8a8a8e;
  --ion-color-inactive-rgb: 138, 138, 142;
  --ion-color-inactive-contrast: #000000;
  --ion-color-inactive-contrast-rgb: 0, 0, 0;
  --ion-color-inactive-shade: #79797d;
  --ion-color-inactive-tint: #969699;

  --ion-color-light: #d9d9d9;
  --ion-color-light-rgb: 217, 217, 217;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #bfbfbf;
  --ion-color-light-tint: #dddddd;

  --ion-color-background: #ffffff;
  --ion-color-backComponents: #f4f4f4;

  --ion-color-p: #747474;
  --ion-color-p-rgb: 116, 116, 116;
  --ion-color-p-contrast: #ffffff;
  --ion-color-p-contrast-rgb: 255, 255, 255;
  --ion-color-p-shade: #666666;
  --ion-color-p-tint: #828282;

  --ion-color-text: #2f2f2f;
  --ion-color-text-rgb: 47, 47, 47;
  --ion-color-text-contrast: #ffffff;
  --ion-color-text-contrast-rgb: 255, 255, 255;
  --ion-color-text-shade: #292929;
  --ion-color-text-tint: #444444;

  --ion-color-backcomponents: #f4f4f4;
  --ion-color-backcomponents-rgb: 244, 244, 244;
  --ion-color-backcomponents-contrast: #000000;
  --ion-color-backcomponents-contrast-rgb: 0, 0, 0;
  --ion-color-backcomponents-shade: #d7d7d7;
  --ion-color-backcomponents-tint: #f5f5f5;
}
