<ion-tabs>
  <ion-tab-bar class="tabbar" slot="bottom">
    <ion-tab-button tab="home">
      <span class="material-icons-outlined"> cottage </span>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="working">
      <span class="material-icons-outlined"> build </span>
      <ion-label>Working</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <span class="material-icons-outlined"> class </span>
      <ion-label>Learning</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <span class="material-icons-outlined"> person_outline </span>
      <ion-label>Maker</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
