<!--*** Head *** -->
<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <h1>Working</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section">
    <!--*** Workpsaces *** -->
    <ion-list>
      <ion-list-header>
        <h3>Workspaces</h3>
      </ion-list-header>
      <hr />
    </ion-list>
    <!-- Cards -->
    <ion-grid class="cards" id="#workspaceCards">
      <ion-row class="">
        <ion-col size="6">
          <ion-card>
            <img src="../../../assets/components/singleWorkspace.png" />
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img src="../../../assets/components/meetingRoom.png" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--*** Equipment ***-->
    <ion-list>
      <ion-list-header>
        <h3>Equipment</h3>
      </ion-list-header>
      <hr />
    </ion-list>

    <!-- Chips -->
    <div class="infoChips">
      <ion-chip>
        <h4>All</h4>
      </ion-chip>

      <ion-chip id="selectedChip">
        <h4>3D Print</h4>
      </ion-chip>

      <ion-chip>
        <h4>Woodwork</h4>
      </ion-chip>

      <ion-chip>
        <h4>Laser Cutting</h4>
      </ion-chip>

      <ion-chip>
        <h4>Metalwork</h4>
      </ion-chip>

      <ion-chip>
        <h4>Laser cutting</h4>
      </ion-chip>

      <ion-chip>
        <h4>Bio Lab</h4>
      </ion-chip>
    </div>

    <!-- Cards -->
    <ion-grid class="cards">
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <a routerLink="/working/deviceDetail">
              <img src="../../../assets/components/fdmPrinter.png"
            /></a>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img src="../../../assets/components/slaPrinter.png" />
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img src="../../../assets/components/slsPrinter.png" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
