<!--*** Head *** -->
<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section">
    <!--- *** itemHead *** -->
    <div class="itemHead">
      <img src="../../../../../assets/images/fdmPrinterDetail.png" />
      <h6>Equipment</h6>
      <h2>FDM Printer</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing
        lectus nulla tellus ullamcorper donec enim diam mi proin. Sit nunc sed
        aliquet netus dignissim et. Faucibus ipsum tortor sagittis at.
      </p>
    </div>
    <!--*** Features *** -->
    <ion-list>
      <ion-list-header>
        <h3>Features</h3>
      </ion-list-header>
      <hr />

      <ion-item lines="none">
        <ion-avatar slot="start">
          <span class="material-icons-outlined"> grade </span>
        </ion-avatar>
        <ion-label>
          <h4>300°C Direct Extruder</h4>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <span class="material-icons-outlined"> grade </span>
        </ion-avatar>
        <ion-label>
          <h4>120°C Heated printbed</h4>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <span class="material-icons-outlined"> grade </span>
        </ion-avatar>
        <ion-label>
          <h4>250x250x210mm print volume</h4>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <span class="material-icons-outlined"> grade </span>
        </ion-avatar>
        <ion-label>
          <h4>1,75mm Filament</h4>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <span class="material-icons-outlined"> grade </span>
        </ion-avatar>
        <ion-label>
          <h4>Auto mesh bed leveling</h4>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <span class="material-icons-outlined"> grade </span>
        </ion-avatar>
        <ion-label>
          <h4>Filament runout detector</h4>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Certificates -->
    <ion-list>
      <ion-list-header>
        <h3>Certificates needed</h3>
      </ion-list-header>
      <hr />

      <ion-item>
        <ion-label>
          <h4>3D Print Basics</h4>
        </ion-label>
        <ion-label slot="end">
          <span class="material-icons-outlined">done</span>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h4>3D Print Advanced</h4>
        </ion-label>
        <ion-label slot="end">
          <span class="material-icons-outlined">done</span>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- FAQ -->
    <ion-list>
      <ion-list-header>
        <h3>FAQ</h3>
      </ion-list-header>
      <hr />
    </ion-list>
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header" lines="inset">
          <ion-label>
            <h4>How to change the nozzel?</h4>
          </ion-label>
          <ion-label slot="end">
            <span class="material-icons-outlined ion-accordion-toggle-icon">expand_more
            </span>
          </ion-label>
        </ion-item>
        <div slot="content">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </ion-accordion>
      <ion-accordion>
        <ion-item slot="header" lines="inset">
          <ion-label>
            <h4>How to remove the print from the printbed?</h4>
          </ion-label>
          <ion-label slot="end">
            <span class="material-icons-outlined ion-accordion-toggle-icon">expand_more
            </span>
          </ion-label>
        </ion-item>
        <div slot="content">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </ion-accordion>

      <ion-accordion>
        <ion-item slot="header" lines="inset">
          <ion-label>
            <h4>How to change the filament?</h4>
          </ion-label>
          <ion-label slot="end">
            <span class="material-icons-outlined ion-accordion-toggle-icon">expand_more
            </span>
          </ion-label>
        </ion-item>
        <div slot="content">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <!-- Book Bar -->
  <div class="bottomBar">
    <ion-grid>
      <ion-row>
        <ion-col>
          <a routerLink="/working/">
            <ion-button class="button" fill="outline" expand="block">
              <h4>Close</h4>
            </ion-button>
          </a>
        </ion-col>
        <ion-col>
          <a routerLink="/working/createBooking">
            <ion-button class="button" expand="block">
              <h4>Book</h4>
            </ion-button>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h6>
      By booking the workspace you agree to use everything carefully as well as
      our general <span class="link">Terms of Service.</span>
    </h6>
  </div>
</ion-content>